<!-- start custom footer snippets -->
<!-- <div class="page__footer-wrapper">
    <div class="page__footer-first">
        <div class="page__footer-title">
            UChicago C&I
        </div>
        <div class="page__footer-location">
            John Crerar Library Building<br/>
            5730 South Ellis Avenue<br/>
            Chicago IL 60637
        </div>
    </div>
    <div class="page__footer-second">
        <div class="page__footer-logo">
            <img src="{{ base_path }}/images/uchicago-logo-maroon.png" />
        </div>
    </div>
</div> -->
<!-- end custom footer snippets -->
