<div class="shortcode-grid" style="display:grid;grid-template-columns:auto 1fr;gap:.5rem">
  {% for item in site.data.symposium-2024-schedule %}
    <time>{{ item.time }}</time>
    <article>
      {% if item.event.speaker %}
        <div><strong>{{ item.event.speaker }}</strong></div>
        <div><em>{{ item.event.title }}</em></div>
        {% if item.event.abstract %}
          <details>
            <summary>Abstract</summary>
            <div>{{ item.event.abstract | markdownify }}</div>
          </details>
        {% endif %}
        {% if item.event.bio %}
          <details>
            <summary>Speaker Bio</summary>
            <div>{{ item.event.bio | markdownify }}</div>
          </details>
        {% endif %}
      {% else %}
        {{ item.event }}
      {% endif %}
    </article>
  {% endfor %}
</div>
