{% assign speakers = include.speakers | default: site.data.symposium-2024-speakers %}
<div class="speaker-grid">
    {% for speaker in speakers %}
    <div class="speaker-item">
        <img src="{{ speaker.imageurl }}" alt="{{ speaker.name }}"{% if speaker.object_position %} style="object-position: {{ speaker.object_position }};"{% endif %}>
        <h3>{% if speaker.url %}<a href="{{ speaker.url }}" target="_blank">{{ speaker.name }}</a>{% else %}{{ speaker.name }}{% endif %}</h3>
        <p>{{ speaker.role }}</p>
    </div>
    {% endfor %}
</div>
